@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
/* ScrollReveal */

[data-sr] {
    visibility: hidden;
}
a:hover {
    text-decoration: none;
}
/* Navbar Affix */

.navbar {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
    background-color: transparent;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
}
.navbar-affix {
    width: 100%;
    height: 50px;
    border-top: 2px rgba(78, 205, 196, 0.8);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 0;
    position: fixed;
    margin-top: -50px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(96, 100, 109, 0.4);
    box-shadow: 0px 0px 6px 0px rgba(96, 100, 109, 0.4);
}
.navbar.affix {
    z-index: 4000;
    background-color: #FFF;
    height: 50px;
    opacity: 1;
    margin-top: 0px;
}
.navbar-affix.affix li a {
    height: 50px;
    line-height: 50px;
}
.navbar .divider-vertical {
    height: 20px;
    margin: 0 0px;
    top: 15px;
    border-right: 1px solid #FFF;
    border-left: 1px solid #fAfAfA;
}
.navbar-affix.affix .navbar-nav>li>a {
    background-color: transparent;
    font-weight: 400;
    color: #333;
}
.navbar-affix .navbar-brand {
    opacity: 0;
}
.navbar-affix.affix .navbar-brand {
    opacity: 1;
    line-height: 50px;
}
.navbar-nav>li>a {
    padding: 0;
}
.navbar-affix li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #333;
    min-width: 100px;
    text-align: center;
    background-color: transparent;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}
.navbar-affix .navbar-nav>li>a {
    background-color: transparent;
    font-weight: 400;
    color: #FFF;
}
.navbar-affix .navbar-nav>.active>a {
    background-color: transparent;
    font-weight: 400;
    color: #FFF;
}
.navbar-affix .navbar-nav>li>a:hover, .navbar-affix .navbar-nav>li>a:focus, .navbar-affix .navbar-nav>.active>a:hover, .navbar-affix .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #333;
}
.navbar-toggle {
    border-radius: 0;
    border: 0px;
}
.navbar-default .navbar-brand {
    line-height: 50px;
    font-weight: 500;
    color: #FFF;
}
.navbar-default .navbar-brand:hover {
    color: #FEC606;
}
.navbar-affix .navbar-brand {
    color: #333;
    line-height: 80px;
    vertical-align: middle;
    padding: 0;
    padding-left: 0px;
    font-weight: 400;
}
.navbar-affix .navbar-brand .color {
    color: #19B5FE;
}
.navbar-affix .navbar-brand:hover {
    color: #333;
}
.bg-white {
    background-color: #FFF;
}
.container.theme-info {
    position: relative;
    overflow: hidden;
}
.container.theme-info .info {
    padding-top: 3em;
    padding-bottom: 5em;
}
.container.theme-info.top .info {
    padding-bottom: 2em;
}
.container.theme-info .img-parallax {
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em;
}
.container.theme-info.top .img-parallax {
    padding-top: 1em;
}
.container.theme-info .img-parallax img {
    border-radius: 2px;
    border: 3px solid #F3F3F3;
}
.container.theme-info .img-parallax div {
    padding: 1em;
}
.parallax {} .github-btn {
    padding-top: 20px;
}
.github-btn iframe {
    margin-right: 14px;
}
/* Navbar Default */

.navbar-default li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: #FFF;
    min-width: 100px;
    text-align: center;
    background-color: transparent;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}
.navbar-default .navbar-nav>li>a {
    background-color: transparent;
    font-weight: 400;
    color: #FFF;
}
.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    font-weight: 400;
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #FEC606;
}
/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    
    margin-bottom: 60px;
    background-image: url(/images/grey.png);
    font-family: 'Quicksand', sans-serif;
    background-color: #FAFAFA;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 60px;
    background-color: transparent;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color: #6C7A89;
}
.head-title h2 {
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #FFF;
}
.head-title h4 {
    margin-top: -5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #FFF;
}
/*
Header Wrap
*/

#headerwrap {
    min-height: 800px;
    position: relative;
    overflow: hidden;
}
#headerwrap h1 {
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    font-size: 5em;
    margin-bottom: -16px;
    color: #FFF;
    letter-spacing: -8px;
    margin-left: -5px;
}
#headerwrap.cleanpm h1 {
    letter-spacing: 0px;
    font-weight: 300;
    font-family: 'Abel', sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}
#headerwrap.cleanpm h1 i {
    font-size: 0.91em;
}
#headerwrap.cleanpm h3 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}
#headerwrap h2, #headerwrap h3, #headerwrap h4, #headerwrap h5, #headerwrap h6 {
    color: #FFF;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
}
#headerwrap h3 {
    font-weight: 300;
    font-size: 2.5em;
}
.downloadwrap {
    background-color: #FFF;
    padding-top: 40px;
    padding-bottom: 40px;
}
/* Intro */

#headerwrap .intro-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -99;
    background-color: #FFF;
    background-image: url(/assets/img/index/bg.png);
}
#headerwrap.cleanpm .intro-bg {
    background-image: url(/assets/img/cleanpm/bg.png);
}
#headerwrap.flat-admin .intro-bg {
    background-image: url(/assets/img/flat-admin/bg.png);
}
#headerwrap .logo .line {
    height: 4px;
    border-radius: 2px;
    background-color: #FFF;
    display: block;
    width: 350px;
    margin: 0 auto;
}
#headerwrap .logo h1 {
    margin-top: -5px;
    margin-bottom: 0px;
}
#headerwrap .logo div {
    size: 6px;
}
.intro {
    position: absolute;
}
.intro.iphone {
    bottom: 0;
    margin-bottom: -28px;
    left: 50%;
    margin-left: -270px;
}
.intro.ipad {
    bottom: 0;
    margin-bottom: -30px;
    left: 50%;
    margin-left: -460px;
}
.intro.imac {
    bottom: 0;
    left: 50%;
    margin-left: -320px;
    margin-bottom: -40px;
}
.intro.flat-admin {
    bottom: 0;
    width: auto;
    height: 600px;
    left: 50%;
    margin-left: -506px;
    margin-bottom: -40px;

}
a.button {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    height: 54px;
    line-height: 54px;
    vertical-align: middle;
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    text-shadow: none;
}
a.button i {
    margin-right: 5px;
}
a.button:active {
    -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    transform: translate(0, 3px);
}
a.download-small {
    color: #2CA9E1;
    border: 1px solid #2CA9E1;
}
a.download-small:active, a.download-small:hover {
    color: #FFF;
    background-color: #2CA9E1;
}
a.github-small {
    -webkit-box-shadow: 0px 6px 0px #2e2e2e;
    -moz-box-shadow: 0px 6px 0px #2e2e2e;
    box-shadow: 0px 6px 0px #2e2e2e;
}
a.github-small {
    background: #3F3F3F;
}
a.github-small:active {
    -webkit-box-shadow: 0px 2px 0px #2e2e2e;
    -moz-box-shadow: 0px 2px 0px #2e2e2e;
    box-shadow: 0px 2px 0px #2e2e2e;
}
a.demo-small {
    color: #26A65B;
    border: 1px solid #26A65B;
}
a.demo-small:active, a.demo-small:hover {
    color: #FFF;
    background-color: #26A65B;
}
.themes-info {
    padding-top: 50px;
}
.themes-info .row {
    text-align: center;
}
.themes-info .row .icon {
    border: 1px solid #EEE;
}
.templates-thumbnail:hover {
    background-color: #333;
    color: #FFF;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.templates-thumbnail {
    background-color: #F9F9F9;
    color: #333;
}
.templates-thumbnail .info {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    padding-top: 0.4em;
    padding-bottom: 1em;
}
.templates-thumbnail img {} .templates-thumbnail .info h3 {
    font-size: 2.2em;
}
.templates-thumbnail .info h5 {
    font-size: 1.2em;
}

.float-left{
    float: left;
}
.profile {
    margin-right: 20px;
    width: 80px;
    height: auto;
}
/* Large desktops and laptops */

@media (min-width: 1200px) {}
/* Portrait tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}
/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {}
/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .navbar-affix .navbar-brand {
        padding-left: 20px;
    }
    .navbar-default .navbar-brand {
      display: none;
    }
    #headerwrap {
        min-height: 480px;
    }
    #headerwrap h1 {
        margin-top: 80px;
        font-size: 3em;
        letter-spacing: -4px;
    }
    #headerwrap h3 {
        font-size: 1.5em;
    }
    .intro.ipad {
        width: auto;
        height: 160px;
        margin-left: -180px;
        margin-bottom: -10px;
    }
    .intro.iphone {
        width: auto;
        height: 120px;
        margin-left: -100px;
        margin-bottom: -10px;
    }
    .intro.imac {
        width: auto;
        height: 240px;
        margin-left: -120px;
        margin-bottom: -10px;
    }
    .intro.flat-admin {
        width: auto;
        height: 240px;
        margin-left: -200px;
        margin-bottom: -10px;
    }
    #headerwrap .logo {
        padding-top: 70px;
    }
    #headerwrap .logo .line {
        height: 3px;
        width: 190px
    }
    #headerwrap .logo h1 {
        letter-spacing: -4px;
    }


    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -7px;
    }

    .templates-thumbnail {
      margin-bottom: 25px;
    }

    .downloadwrap .row > div {
        margin-bottom: 25px;
    }
    .downloadwrap .row > div:last-child {
        margin-bottom: 0px;
    }


    .container.theme-info .info {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .container.theme-info div {
        text-align: center;
    }
}
/* Landscape phones and smaller */

@media (max-width: 480px) {}
